In [12]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
import json
import re
import datetime

In [2]:
website='https://www.worldometers.info/coronavirus/' # url for the site 
website_url=requests.get(website).text
soup = BeautifulSoup(website_url,'html.parser')

In [3]:
my_table = soup.find_all('tr')
len(my_table)

744

In [4]:
columns = []
data_0 = my_table[0].find_all('th')
for i in range(len(data_0)):
    columns.append(data_0[i].text)

In [5]:
data_1 = []
for i in range(1,248):
    data_1.append(my_table[i].find_all('td'))

In [6]:
data_2 = {}
for i in range(len(columns)):
    data_2[columns[i]] = []
    for d in data_1:
        data_2[columns[i]].append(d[i].text)

In [7]:
import pandas as pd

In [8]:
df = pd.DataFrame.from_dict(data_2)
len(df['Country,Other'].unique())

240

In [9]:
df.head(10)

,#,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",...,TotalTests,Tests/\n1M pop\n,Population,Continent,1 Caseevery X ppl,1 Deathevery X ppl,1 Testevery X ppl,New Cases/1M pop,New Deaths/1M pop,Active Cases/1M pop
0,,\nNorth America\n,"124,457,883",,"1,609,932",,"119,728,887","+1,575","3,119,064","7,754",...,,,,North America,\n,,,,,
1,,\nAsia\n,"214,243,501","+25,525","1,536,266",+108,"198,861,058","+36,058","13,846,177","15,524",...,,,,Asia,\n,,,,,
2,,\nEurope\n,"246,152,467","+10,183","2,016,412",+32,"241,754,128","+17,943","2,381,927","6,468",...,,,,Europe,\n,,,,,
3,,\nSouth America\n,"67,971,613",,"1,350,389",,"66,209,615",+448,"411,609","10,188",...,,,,South America,\n,,,,,
4,,\nOceania\n,"13,987,204",,"26,076",,"13,826,303",,"134,825",64,...,,,,Australia/Oceania,\n,,,,,
5,,\nAfrica\n,"12,791,231",,"258,576",,"12,074,558",,"458,097",547,...,,,,Africa,\n,,,,,
6,,\n\n,721,,15,,706,,0,0,...,,,,,\n,,,,,
7,,World,"679,604,620","+35,708","6,797,666",+140,"652,455,255","+56,024","20,351,699","40,545",...,,,,All,\n,,,,,
8,1,USA,"105,172,692",,"1,144,461",,"102,605,010",,"1,423,221","2,588",...,"1,164,075,621","3,476,874","334,805,269",North America,3,293,0,,,"4,251"
9,2,India,"44,686,017",,"530,769",,"44,153,099",,"2,149",N/A,...,"918,324,498","652,854","1,406,631,776",Asia,31,"2,650",2,,,2

In [15]:
df['Date'] = datetime.datetime.now()
df

,#,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",...,Tests/\n1M pop\n,Population,Continent,1 Caseevery X ppl,1 Deathevery X ppl,1 Testevery X ppl,New Cases/1M pop,New Deaths/1M pop,Active Cases/1M pop,Date
0,,\nNorth America\n,"124,457,883",,"1,609,932",,"119,728,887","+1,575","3,119,064","7,754",...,,,North America,\n,,,,,,2023-02-26
1,,\nAsia\n,"214,243,501","+25,525","1,536,266",+108,"198,861,058","+36,058","13,846,177","15,524",...,,,Asia,\n,,,,,,2023-02-26
2,,\nEurope\n,"246,152,467","+10,183","2,016,412",+32,"241,754,128","+17,943","2,381,927","6,468",...,,,Europe,\n,,,,,,2023-02-26
3,,\nSouth America\n,"67,971,613",,"1,350,389",,"66,209,615",+448,"411,609","10,188",...,,,South America,\n,,,,,,2023-02-26
4,,\nOceania\n,"13,987,204",,"26,076",,"13,826,303",,"134,825",64,...,,,Australia/Oceania,\n,,,,,,2023-02-26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
242,,Total:,"67,971,613",,"1,350,389",,"66,209,615",,"411,609","10,188",...,,,South America,,,,,,,2023-02-26
243,,Total:,"13,987,204",,"26,076",,"13,826,303",,"134,825",64,...,,,Australia/Oceania,,,,,,,2023-02-26
244,,Total:,"12,791,231",,"258,576",,"12,074,558",,"458,097",547,...,,,Africa,,,,,,,2023-02-26
245,,Total:,721,,15,,706,,0,0,...,,,,,,,,,,2023-02-26
246,,Total:,"679,604,620","+35,708","6,797,666",+140,"652,455,255","+56,024","20,351,699","40,545",...,,,All,\n,,,,,,2023-02-26

In [16]:
df.to_csv('data-26-Feb.csv',index=False)